#root {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: #23252C;
    color: white;
}

.container {
    width: 317px;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
    background-color: #1A1B21;
}

.bottom-container {
    background:;
    height: 100%;
}