.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact--Role {
    margin-top: -3%;
    color: #F3BF99;
    font-size: 0.75rem;
}

.contact--Name {
    font-size: 25px;
}

.contact--Email {
    background: white;
    color: black;
    padding: 0.3rem 1.3rem;
    text-decoration: none;
    margin-right: 15px;
    border-radius: 5px;
}

.contact--Email:hover {
    background-color: black;
    color: white;
}

.contact--LinkedIn {
    width: 115px;
    background: #5093E2;
    padding: 0.3rem 1.3rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.contact--LinkedIn:hover {
    background-color: yellow;
    color: darkorange;
}